build*/
*_build/
debug/
release/
*.o
*.obj
Makefile
Makefile.*
.qmake.stash
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.qrc.depends
*.qm
*.pro.user
*.pro.user.*
CMakeLists.txt.user
.qtvirtualenv/
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
